.navbar {
  display: flex;
  justify-content: space-between;
  height: 5vh;
}
.main {
  height: 95vh !important;
  background-color: darkslategray;
}
.taskTitle {
  color: white;
  font-size: 1.5rem;
  margin: 0;
}
