<div class="main">
  <h1>TODO_List</h1>
  <form class="login-form" #loginForm="ngForm">
    <p *ngIf="isError" class="login-error">{{ errorMessage + "!" }}</p>
    <!-- Error message -->
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="Username"
        name="username"
        #username="ngModel"
        [(ngModel)]="currentUser.username"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Password"
        type="password"
        name="password"
        #password="ngModel"
        [(ngModel)]="currentUser.password"
      />
    </mat-form-field>
    <div class="buttonsContainer">
      <button mat-raised-button color="primary" (click)="onLogin(loginForm)">
        Login
      </button>
      <button mat-raised-button color="primary" (click)="onRegister(loginForm)">
        Register
      </button>
    </div>
  </form>
</div>
