<div class="main">
  <h1>TODO_List</h1>
  <form class="login-form" #loginForm="ngForm">
    <input
      type="hidden"
      name="_id"
      #_id="ngModel"
      [(ngModel)]="userService.currentUser._id"
    />
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="Username"
        name="username"
        #username="ngModel"
        [(ngModel)]="userService.currentUser.username"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Password"
        type="password"
        name="password"
        #password="ngModel"
        [(ngModel)]="userService.currentUser.password"
      />
    </mat-form-field>
    <div class="buttonsContainer">
      <button mat-raised-button color="primary" (click)="onRegister(loginForm)">
        Register
      </button>
      <button mat-raised-button color="primary" (click)="onLogin(loginForm)">
        Login
      </button>
    </div>
  </form>
</div>
